@model PDXWEB.Models.Login.ChangePasswordModel
<script src="@Url.Content("~/Scripts/ModalHelper/ModalHelper.js")" type="text/javascript"></script>


<style type="text/css">
    .panel-body {
        padding-top: 6px !important;
    }

    .txtWidth {
        display: -webkit-inline-flex;
        display: inline-flex;
        display: inline;
    }

    .InputElements {
        background-color: White !important;
        border: 1px solid grey !important;
        height: 25px !important;
        width: 75%;
    }

    @@media screen and (max-width: 767px) {


        .btn-group, .btn-group-vertical {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            width: 100% !important;
        }

        .InputElements {
            background-color: White !important;
            border: 1px solid grey !important;
            height: 25px !important;
            width: 97%;
        }

        div#xyz {
            margin-left: 0px !important;
        }

        input, select {
            width: auto;
        }

        br {
            display: none;
        }

        .TopMarginAtXs {
            margin-top: 5px;
            width: 100% !important;
        }
    }
    /* media 767 end*/
    .invalid {
        border: 1px solid red;
    }
</style>

<div class="container childcontent ">
    <div class="panel panelInquiryControls panel-primary panelWidth">
        <div class="panel-heading PanelTitle">
            <h3 class="panel-title pull-left "> @Resources.Resource.ChangePassword  </h3>
        </div>
        <div class="panel-body">

            <div class="FormElements">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                        <div class="editor-label">
                            @Html.Label(@Resources.Resource.lblOldPassword)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.OldUserPassword, new { @class = "form-control InputElements txtWidth", placeholder = "", maxlength = "15", type = "password", id = "OldUserPassword" })
                            <span id="spnOldUserPassword"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                        <div class="editor-label">
                            @Html.Label(@Resources.Resource.lblNewPassword)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.NewUserPassword, new { @class = "form-control InputElements txtWidth", placeholder = "", maxlength = "15", type = "password", id = "NewUserPassword" })
                            <span id="spnNewUserPassword"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                        <div class="editor-label">
                            @Html.Label(@Resources.Resource.lblConfirmPassword)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control InputElements txtWidth", placeholder = "", maxlength = "15", type = "password", id = "ConfirmPassword" })
                            <span id="spnConfirmPassword"></span>
                        </div>
                    </div>
                </div>
                <div style=" margin:20px !important"></div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                        <button type="button" id="btnChange" class="btn btn-default TopMarginAtXs">@Resources.Resource.btnChange</button>
                        <button type="button" id="btnReset" class="btn btn-default TopMarginAtXs">@Resources.Resource.btnReset</button>
                    </div>

                </div>


            </div>
        </div> @*panel body*@
    </div>     @*panel*@

</div>

<div style=" height:40px;"></div>
<br />
<br />
<br />
<div id="divToUpdate" style="margin-top: 20px;">
</div>
<div class="modals">
    <!-- Modal -->
    <div class="modal fade" id="MessageModal" role="dialog" style="padding-top: 169px;">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"> &times;</button>
                    <h4 class="modal-title"> @Resources.Resource.ChangePassword</h4>
                </div>
                <div class="modal-body" id="modalBody">
                    <img class="imgError" />
                    <label id="lblMessageText" class="lblError"></label>
                </div>
                <div class="modal-footer">
                    <button style=" text-align:center;float: none !important;" id="btnOk" class="btn btn-default center-block" data-dismiss="modal">
                        @Resources.Resource.btnOK
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="PasswordStrengthModal">
    <div class="modal-dialog" style="padding-top:150px;">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header MessageHeader">
                <h4 class="modal-title">Change Password</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body" style="padding:10px !important">
                <div class="row" style="padding:0px;margin:0px;">
                    <div class="col-md-3" style="text-align:center;margin-bottom:5px;">
                        <img class="imgError" src="../images/error.png" />
                    </div>
                    <div class="col-md-9" style="margin-bottom:5px;">
                        <p>
                            <label style="color:red!important;">
                                Please choose a password that contains:
                            </label>
                            <ul style="padding-left:15px;list-style:disc !important;">
                                <li>Both Numbers and Alphabets.</li>
                                <li>Both Uppercase and Lowercase characters.</li>
                                <li>At least one special character.</li>
                            </ul>

                        </p>
                    </div>

                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button style=" text-align:center;float: none !important;" id="btnOk" class="btn btn-default center-block" data-dismiss="modal">
                    @Resources.Resource.btnOK
                </button>
            </div>

        </div>
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {

    $('#OldUserPassword').keypress(function (event) {
             var key = event.which;

             if (this.value.length >= 15 && key != 8 && key != 13) {
                 return false;
             }
         })
         $('#NewUserPassword').keypress(function (event) {
             var key = event.which;

             if (this.value.length >= 15 && key != 8 && key != 13) {
                 return false;
             }
         })
         $('#ConfirmPassword').keypress(function (event) {
             var key = event.which;

             if (this.value.length >= 15 && key != 8 && key != 13) {
                 return false;
             }
         })

      $("#btnChange").click(function () {
      var count =0;
      $('input:password').each(function()
      {
         if ($(this).val()=="")
          {
           count++;
            /*$(this).next("span").html("*").attr("style","color:red !important"); */
            $(this).attr("style","border-color:#ff8080 !important;box-shadow: 0px 0px 5px 0px #ff8080;display: inline");
            //$(this).attr("placeholder","Missing field");
         }
     else{
          /* $(this).next("span").html(""); */
           $(this).attr("style","");
           //$(this).attr("placeholder","" );
         }


    })// each end
    if (count>0)
        {
            return false;
         }
    if($("#NewUserPassword").val().length<4)
    {
     count++;
            //txtError = "Mininum password length is 4";
           txtError = "@Resources.Resource.MsgInfo42";
           txtErrorType = "0";
           DisplayModal(txtErrorType, txtError);
    }
    if (count>0)
        {
            return false;
        }
   if (!($('#NewUserPassword').val() === $('#ConfirmPassword').val()))
     {
       count++;
        //txtError = "Confirm password dose not match with New password";
        txtError = "@Resources.Resource.MsgInfo43";
        txtErrorType = "0";
        DisplayModal(txtErrorType, txtError);
          }
     // Validation : Checking if same password is used.
     if (($('#NewUserPassword').val() === $('#OldUserPassword').val()))
     {
        count++;
        //txtError = "Confirm password dose not match with New password";
        txtError = "@Resources.Resource.MsgInfo206";
        txtErrorType = "0";
        DisplayModal(txtErrorType, txtError);
     }
      if (count>0)
       {
            return false;
       }
         $("#NewUserPassword").removeClass("invalid");
        $("#divLoading").remove()
        $("#divToUpdate").prepend("<div id='divLoading'></div>");
        var params = { OldUserPassword: $("#OldUserPassword").val(), NewUserPassword: $("#NewUserPassword").val(), ConfirmPassword: $("#ConfirmPassword").val() };
        $.ajax(
            {
            cache:false,
            type:"post",
            data:params,
            url:"@Url.Action("ChangePassword","User",null)",
            success:function(data){
             if(CheckForSessionExpiry(data))
               {
                    SessionExpiredRedirect();
                    return;
               }
            if(data.ErrorOccured==1 )
            {

                txtError = data.ErrorMessage;
                txtErrorType = "0";
                DisplayModal(txtErrorType, txtError);

            }
            else if (data.ErrorOccured == 2)
            {
                $("#NewUserPassword").addClass("invalid");
                DisplayPasswordStrengthModal();
            }
            else if (data.ErrorOccured == 3)
            {
                txtError = data.ErrorMessage;
                txtErrorType = "0";
                DisplayModal(txtErrorType, txtError);
            }
            else
            {
                txtError = data.MessageToDisplay;
                txtErrorType = "1";
                DisplayModal(txtErrorType, txtError);

            }


            },
           error:function(xhr, ajaxOptions, thrownError)
            {
               // txtError = "An error occured while processing!"
                txtError = "@Resources.Resource.MsgInfo3";
                txtErrorType = "0";
                DisplayModal(txtErrorType, txtError);

            }

            })//jax end


        }); //click end

        $("#btnReset").click(function () {
//            $("#OldUserPassword").val("");
//            $("#NewUserPassword").val("");
//            $("#ConfirmPassword").val("");

      $('input:password').each(function()
      {
            /*$(this).next("span").html("*").attr("style","color:red !important"); */
             $(this).attr("style","");
             $(this).val("");

    })// each end

        }); //click end

    });     //doc.ready

</script>


<script type="text/javascript">
    $(document).ready(function () {

        $(document).ajaxStart(function () {

            $("div#divLoading").addClass('show');
        });
        $(document).ajaxStop(function () {
            $("div#divLoading").removeClass('show');
        });


    }); //doc.ready end

</script>


<script type="text/javascript">
    function showProgress() {
        if (!spinnerVisible) {
            $("#spinner").fadeIn("fast");
            spinnerVisible = true;
        }
    };

    function hideProgress() {
        if (spinnerVisible) {
            var spinner = $("#spinner");
            spinner.stop();
            spinner.fadeOut("fast");
            spinnerVisible = false;
        }
    };

</script>

<script type="text/javascript">
    $(document).on('click', '#btnOk', function () {
        $("#MessageModal").modal('hide');

    });
</script>