@*hst001 : Noshairwan Farooq | Made change to have Option Parts Grid|*@
@*hst002 : Noshairwan Farooq | Made DNet price column blink|*@

@{
    ViewBag.Title = "Multiple Parts Stock Inquiry";
    bool isInternetExplorer = false;
    if (Request.Browser.Browsers.Contains("ie"))
    {
        isInternetExplorer = true;
        if (Request.Browser.MajorVersion < 8)
        {
        }
    }
}
@model PDXWEB.Models.Master.StockInquiry.DTMultiplePartsStockInqModel
@Scripts.Render("~/bundles/InquiryJSBundle")
@Styles.Render("~/Content/InquiryCSSBundle")
<script src="@Url.Content("~/Scripts/FileUpload/bootstrap-filestyle.min.js")" type="text/javascript"></script>
<style>

 .table tr td, .table tr th {
    text-align: left;
}
.customHeader{  background-color: #000099;color: #fff;font-weight: bold;padding: 2px;text-align: center;border-bottom: 1px solid #ddd;vertical-align:bottom;}
.accordianRows{height: 150px !important;    min-height: 100px;}
.legColumn label{color: #0066ff !important;font-size: 11px;font-weight: bold;}
label.btn-default{  color: White !important;}
.legendTitle span{ width:3% !important;}
.bootstrap-filestyle input[type=text]{ height:30px}
.table tr {white-space: nowrap;   }
.redText{color: Red !important; }
.table{ margin: 0 !important;}
#btlInterchanginility{margin:0% !important; }

    @@media screen and (max-width:768px)
{
.fileContainer{  margin: 9px 0 1px 1px !important;}
.DropDownButtonContainer{width:100%; }
.bootstrap-filestyle{  margin: 0;    }
.DropDownButtonContainer button { width:94% !important; }
.fileContainer{  margin: 9px 0 1px 1px !important;}
.PartInput div{ margin-bottom:0% !important; }
.ExceedingColumn {   margin-left:0% !important;}
#ddlManufacturer,#lblDdlManufacturer{margin-left: -10px !important; margin-bottom:-5px; width:100%  !important;;}
.panel-body input    {width:100% !important; }
.panel-body button,  .panel-body select{margin-top:8px !important; width:100% !important; }

}


 @*Target the Ipad Vertivcal  Resolution as well as Small  Bootstrap Resolution  *@
 @@media screen and (min-width:768px)  and  (max-width:991px)
{
.ExportDataDiv{margin-right: 14px; margin-left: -17px;}

    .fileContainer{ margin-left: -48px !important; margin-right: 38px !important;  }
    #ddlManufacturer,#lblDdlManufacturer {   margin-left: -10px !important; margin-bottom:-5px;  }
    #btnSearch{ width: 71px !important;    }
    #btnIntrChngblty{width: 134px !important; margin-left: -45px !important;}
   #btnExport {margin-left: -26px !important;width: 105px !important;}
       #ddlFileType{margin-left: -40px; width: 160% !important; }
    #FileUpload{ margin-left: -54px;margin-top:8px;}
     #btnImport{margin-left:  -65px !important;padding: 0 !important; }
    #btnExportPartsMasterData { margin-left: -90px !important;width: 132px !important; }





    .ExceedingColumn
    {
         margin:0 0 0 0 !important;
    }
    .ModalDesign
    {
      background-color: #fac902 !important; color: black !important;
      border-radius: 4px;
      padding: 6px !important;
    }
}
 @*Target the Ipad Horizontal Resolution as well as medium Bootstrap Resolution  *@
 @@media screen and (min-width:992px)  and  (max-width:1200px)
{
    .ExportDataDiv{margin-right: 103px; }
    .fileContainer
    {
     margin-left: -146px !important;
    margin-right: 126px !important;
    }

    #ddlManufacturer,#lblDdlManufacturer
    {


    }
   #btnSearch
    {
     width: 71px !important;
    }
    #btnIntrChngblty
    {
          margin-left: -80px;
     width: 134px !important;

    }
   #btnExport
    {

    width: 105px !important;

    }
    #ddlFileType
    {

      width: 160% !important;
    margin-left: -150px;
    }

     #FileUpload
    {

     margin-left:-147px;


    }

    #btnImport
    {
       margin-left:-188px;
     padding: 0 !important;
    }
     #btnExportPartsMasterData
    {
     margin-left:-250px;
    width: 140px !important;
    }

    .ExceedingColumn
    {

    }
    .ModalDesign
    {
     background-color: #fac902 !important; color: black !important;
    }
 }
  @*Target  Bootstrap Large and Extra Large Resolutions    *@
 @@media screen and (min-width:1201px)
{
    .IntrChngbltyDiv{ margin-right: 3px;}
    .ExportDataDiv{  margin-right: -3px;}
    .ExportPMDataDiv{ margin-right: 3px;}
    .ImportDiv{ margin-right: 3px;}

#btnExportPartsMasterData
    {

      width: 140px !important;
    }
   #btnSearch
    {

    }
    #btnIntrChngblty
    {

     width: 134px !important;

    }
   #btnExport
    {

    width: 110px  !important;

    }
    #ddlFileType
    {
     margin-left: -43px;
     width: 160% !important;

    }

     #FileUpload
    {
       margin-left: -30px;
    }

    #btnImport
    {
         margin-left: -32px;
    width: 100px !important;

    }
     #btnExportPartsMasterData
    {
     margin-left: -24px !important;
   width: 140px !important;
    }

    .ExceedingColumn
    {

    }
    .ModalDesign
    {
     background-color: #fac902 !important; color: black !important;
    }
    }

     tblSoStatus tbody>tr>td.col1
    {

    padding-top:2px !important;
    }
      .ChainedPart
      {
      background-color:#C6C6E6 !important;
      }

      .ChainedPart:hover
      {

      }

      .chainParent
      {
      display:none;
      }


    .pnumColumn{padding-right: 45px ! important; }
    .icColumn{padding-right: 13px ! important; }
    .table tr td.pnumColumn { padding-right:10px  !important}

    /*hst002 Start*/
    .blink {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        /*background-color: #fac902;
        color: #000099;*/
        background-color: black;
        color: red;
    }

    .blink2 {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        /*background-color: #000099;
        color: white;*/
        background-color: red;
        color: black;
    }
    /*hst002 End*/

</style>
<div class="container childcontent ">
    <div class="panel panelInquiryControls panel-primary panelWidth">
        <div class="panel-heading PanelTitle">
            <h3 class="panel-title pull-left ">
                @Resources.Resource.MultiplePartsStockInquiry
            </h3>
        </div>
        <div class="panel-body">
            <span id="lblMsg"></span>
            <div class="row controlsGroup" style="margin-left: -4px; margin-top: -8px;">
                <div class="col-lg-1 col-md-1 col-sm-2 col-xs-12">
                    <button class="btn btn-sm btn-primary custom btnMargin" id="btnSearch">
                        @Resources.Resource.btnSearch
                    </button>
                </div>
                @*    <div class=" divIntr col-lg-2 col-md-2 col-sm-2 col-xs-12 IntrChngbltyDiv">
                        <button id="btnIntrChngblty" class="btn btn-sm btn-primary custom btnMargin">
                             @Resources.Resource.btnInterchangeability</button>
                    </div>*@
                <div class="col-lg-1 col-md-2 col-sm-2 col-xs-12 ExportDataDiv">
                    <div class="btn-group DropDownButtonContainer">
                        <button type="button" class="btn btn-secondary dropdown-toggle" id="btnExport" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            @Resources.Resource.btnExportData<span class="caret"></span>
                        </button>
                        <div class="dropdown-menu DownLoadDropDown">
                            <a class="dropdown-item" href="#" onclick="DownloadFile('0')">CSV</a> <a class="dropdown-item"
                                                                                                     href="#" onclick="DownloadFile('1')">XLS</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 fileContainer" style="margin-right: 6px;
                    margin-left: 25px;">
                    @if (isInternetExplorer)
                    {

                        <form id="frmIEUpload" action="@Url.Action("MultiPartsStockInq_ImportFile", "StockInquiry", null, Request.Url.Scheme)" enctype="multipart/form-data" method="post">
                            <input type="file" id="fuUploadCSV" class="filestyle" name="fuUploadCSV" data-buttontext="Browse"
                                   style="display: none" />
                        </form>
                    }
                    else
                    {
                        <input type="file" id="fuUploadCSV" class="filestyle" data-buttontext="Browse" style="display: none" />
                    }
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2 col-xs-12 ImportDiv">
                    <button class="btn btn-sm btn-primary custom btnMargin" id="btnImport">
                        @Resources.Resource.btnImportData
                    </button>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 ExportPMDataDiv">
                    <div class="btn-group DropDownButtonContainer">
                        <button type="button" class="btn btn-secondary dropdown-toggle" id="btnExportPartsMasterData"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @Resources.Resource.btnExportPartMasterData<span class="caret"></span>
                        </button>
                        <div class="dropdown-menu DownLoadDropDown">
                            <a class="dropdown-item" href="#" onclick="DownloadFile('0','pmFlag')">CSV</a> <a class="dropdown-item" href="#" onclick="DownloadFile('1','pmFlag')">XLS</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 10px; padding-left: 11px;">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div>
                        @Html.Label(@Resources.Resource.lblManufacturer, new { id = "lblDdlManufacturer" })
                    </div>
                    <div>
                        @Html.DropDownList("ddlManufacturer", new List<SelectListItem> { new SelectListItem { Text = "0000", Value = "0000" } }, new { style = "height: 30px ! important; width:76%  ", @class = "btnMargin" })
                    </div>
                </div>
                @* New Dropdown added for Stock Point by Zeeshan Ali 19 Sep 2018 *@
                @if (HttpContext.Current.Session["Role"].ToString().Equals(((int)PDXWEB.BusinessModels.Common.Enumerations.Roles.Admin).ToString()))  //Stock Point Drop Down will only be shown to admin

                {
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div>
                            @Html.Label(@Resources.Resource.lblStockPoint)
                        </div>
                        <div>
                            @Html.DropDownListFor(model => Model.ddlStockPoint, Model.ddlStockPoint as List<SelectListItem>, new { style = "height: 30px ! important; width:76%  ", @class = "btnMargin" })

                        </div>
                    </div>
                }
            </div>
            <div class="PartInput">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div>
                            @Html.Label("1", new { style = "display:inline" }) @Html.TextBox("txtPart1", null, new { @class = "form-control InputElements", style = "display:inline" })
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div>
                            @Html.Label("2", new { style = "display:inline" }) @Html.TextBox("txtPart2", null, new { @class = "form-control InputElements", style = "display:inline" })
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div>
                            @Html.Label("3", new { style = "display:inline" }) @Html.TextBox("txtPart3", null, new { @class = "form-control InputElements", style = "display:inline" })
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div>
                            @Html.Label("4", new { style = "display:inline" }) @Html.TextBox("txtPart4", null, new { @class = "form-control InputElements", style = "display:inline" })
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div>
                            @Html.Label("5", new { style = "display:inline" }) @Html.TextBox("txtPart5", null, new { @class = "form-control InputElements", style = "display:inline" })
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div>
                            @Html.Label("6", new { style = "display:inline" }) @Html.TextBox("txtPart6", null, new { @class = "form-control InputElements", style = "display:inline" })
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div>
                            @Html.Label("7", new { style = "display:inline" }) @Html.TextBox("txtPart7", null, new { @class = "form-control InputElements", style = "display:inline" })
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div>
                            @Html.Label("8", new { style = "display:inline" }) @Html.TextBox("txtPart8", null, new { @class = "form-control InputElements", style = "display:inline" })
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div>
                            @Html.Label("9", new { style = "display:inline" }) @Html.TextBox("txtPart9", null, new { @class = "form-control InputElements", style = "display:inline" })
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 ExceedingColumn" style="margin: 0px 0px 0px -7px">
                        <div>
                            @Html.Label("10", new { style = "display:inline" }) @Html.TextBox("txtPart10", null, new { @class = "form-control InputElements", style = "display:inline" })
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div>
                            @Html.Label("11", new { style = "display:inline" }) @Html.TextBox("txtPart11", null, new { @class = "form-control InputElements", style = "display:inline" })
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div>
                            @Html.Label("12", new { style = "display:inline" }) @Html.TextBox("txtPart12", null, new { @class = "form-control InputElements", style = "display:inline" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container childcontent " style="padding-top: 0px ! important;">
    <div class="panel panelInquiryControls panel-primary panelWidth">

        <div id="divToUpdate" style="height: 185px; overflow: auto">
        </div>
        <div style="display:none;" id="OptionPartContainer">
            <label style="padding-left:20px;"> Optional Parts: </label>
            <div id="divToUpdateOptionPart" style="height:185px; max-height:185px; overflow: auto;">
            </div>
        </div>

        <div>
            <label>
                Note: KLTD Stock Information is as of end of the day.
            </label>
        </div>
        <div class="lagends accordion hideonLoad table-responsive  table-striped table-hover"
             style="display: none">
            <a href="#">
                @Resources.Resource.Legends <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e">
                </span>
            </a>
            <div class="accordianRows">
                <div class=" row">
                    <div class=" legColumn col-lg-1 col-md-1  col-sm-6 col-xs-6 ">
                        <label>
                            CC:
                        </label>
                    </div>
                    <div class=" legDescColumn col-lg-3 col-md-3  col-sm-6 col-xs-6 ">
                        <label>
                            Character Code
                        </label>
                    </div>
                    <div class=" legColumn col-lg-1 col-md-1  col-sm-6 col-xs-6 ">
                        <label>
                            @Resources.Resource.thCommodityGroupCodeNew:
                        </label>
                    </div>
                    <div class=" legDescColumn col-lg-2 col-md-3  col-sm-6 col-xs-6 ">
                        <label>
                            @Resources.Resource.CommodityGroupCodeNewDesc
                        </label>
                    </div>
                    @*Shabbir 22-12-2016 Added Below Check*@
                    @if (PDXWEB.BusinessModels.Common.UserRights.hasRight("Z01S370_13_001"))
                    {
                    <div class=" legColumn col-lg-1 col-md-1 col-sm-6 col-xs-6 ">
                        <label>
                            @if (Model.PriceCalculationMethod.Equals("B"))
                            {
                                @Resources.Resource.thKMEListPrice
                            }
                            else
                            {
                                @Resources.Resource.thDNetPrice
                            }
                        </label>
                    </div>
                    <div class=" legDescColumn col-lg-2 col-md-3  col-sm-6 col-xs-6 ">
                        <label>
                            @if (Model.PriceCalculationMethod.Equals("B"))
                            {
                                @Resources.Resource.KMEListPriceDesc
                            }
                            else
                            {
                                @Resources.Resource.DNetPriceDesc
                            }
                        </label>
                    </div>
                    }
                </div>
                <div class=" row">
                    <div class=" legColumn col-lg-1 col-md-1  col-sm-6 col-xs-6 ">
                        <label>
                            @Resources.Resource.thModelGroupCode:
                        </label>
                    </div>
                    <div class=" legDescColumn col-lg-3 col-md-3  col-sm-6 col-xs-6 ">
                        <label>
                            @Resources.Resource.ModelGroupCodeDesc
                        </label>
                    </div>
                    <div class=" legColumn col-lg-1 col-md-1  col-sm-6 col-xs-6 ">
                        <label>
                            @Resources.Resource.thLatestPartNumber:
                        </label>
                    </div>
                    <div class=" legDescColumn col-lg-2 col-md-3  col-sm-6 col-xs-6 ">
                        <label>
                            @Resources.Resource.LatestPartNumberDesc
                        </label>
                    </div>
                    <div class=" legColumn col-lg-1 col-md-1  col-sm-6 col-xs-6 ">
                        <label>
                            @Resources.Resource.thMortality:
                        </label>
                    </div>
                    <div class=" legDescColumn col-lg-2 col-md-3  col-sm-6 col-xs-6 ">
                        <label>
                            @Resources.Resource.MortalityDesc
                        </label>
                    </div>
                </div>
                <div class=" row">
                    <div class=" legColumn col-lg-1 col-md-1  col-sm-6 col-xs-6 ">
                        <label>
                            @Resources.Resource.thCommodityCodeNew:
                        </label>
                    </div>
                    <div class=" legDescColumn col-lg-3 col-md-3  col-sm-6 col-xs-6 ">
                        <label>
                            @Resources.Resource.CommodityCodeNewDesc
                        </label>
                    </div>
                    <div class=" legColumn col-lg-1 col-md-1  col-sm-6 col-xs-6 ">
                        <label>
                            @Resources.Resource.thModelCode:
                        </label>
                    </div>
                    <div class=" legDescColumn col-lg-2 col-md-3  col-sm-6 col-xs-6 ">
                        <label>
                            @Resources.Resource.ModelCodeDesc
                        </label>
                    </div>
                    <div class=" legColumn col-lg-1 col-md-1  col-sm-6 col-xs-6 ">
                        <label>
                            @Resources.Resource.thOrderRank:
                        </label>
                    </div>
                    <div class=" legDescColumn col-lg-2 col-md-3  col-sm-6 col-xs-6 ">
                        <label>
                            Order Rank
                        </label>
                    </div>
                </div>
                <div class=" row">
                    <div class=" legColumn col-lg-1 col-md-1  col-sm-6 col-xs-6 ">
                        <label>
                            @Resources.Resource.thCommodityGroupCodeOld:
                        </label>
                    </div>
                    <div class=" legDescColumn col-lg-3 col-md-3  col-sm-6 col-xs-6 ">
                        <label>
                            @Resources.Resource.CommodityGroupCodeOldDesc
                        </label>
                    </div>
                    <div class=" legColumn col-lg-1 col-md-1  col-sm-6 col-xs-6 ">
                        <label>
                            @Resources.Resource.thHSCodeLocal:
                        </label>
                    </div>
                    <div class=" legDescColumn col-lg-2 col-md-3  col-sm-6 col-xs-6 ">
                        <label>
                            @Resources.Resource.HSCodeLocalDesc
                        </label>
                    </div>
                    <div class=" legColumn col-lg-1 col-md-1  col-sm-6 col-xs-6 ">
                        <label>
                            @Resources.Resource.thKMEEORQ:
                        </label>
                    </div>
                    <div class=" legDescColumn col-lg-3 col-md-3  col-sm-6 col-xs-6 ">
                        <label>
                            @Resources.Resource.KMEEORQDesc
                        </label>
                    </div>
                </div>
                <div class=" row">
                    <div class=" legColumn col-lg-1 col-md-1  col-sm-6 col-xs-6 ">
                        <label>
                            @Resources.Resource.thQuantityByUnit:
                        </label>
                    </div>
                    <div class=" legDescColumn col-lg-3 col-md-3  col-sm-6 col-xs-6 ">
                        <label>
                            @Resources.Resource.QuantityByUnitDesc
                        </label>
                    </div>
                    <div class=" legColumn col-lg-1 col-md-1  col-sm-6 col-xs-6 ">
                        <label>
                            @Resources.Resource.thCommodityCodeOld:
                        </label>
                    </div>
                    <div class=" legDescColumn col-lg-2 col-md-3  col-sm-6 col-xs-6 ">
                        <label>
                            @Resources.Resource.CommodityCodeOldDesc
                        </label>
                    </div>
                    <div class=" legColumn col-lg-1 col-md-1  col-sm-6 col-xs-6 ">
                        <label>
                            @Resources.Resource.thServiceNewsNumber:
                        </label>
                    </div>
                    <div class=" legDescColumn col-lg-2 col-md-3  col-sm-6 col-xs-6 ">
                        <label>
                            @Resources.Resource.ServiceNewsNumberDesc
                        </label>
                    </div>
                </div>
                <div class=" row">
                    <div class=" legColumn col-lg-1 col-md-1  col-sm-6  col-xs-6 ">
                        <label>
                            @Resources.Resource.thReturnableCode:
                        </label>
                    </div>
                    <div class=" legDescColumn col-lg-3 col-md-3  col-sm-6  col-xs-6 ">
                        <label>
                            @Resources.Resource.ReturnableCodeDesc
                        </label>
                    </div>
                    <div class=" legColumn col-lg-1 col-md-1  col-sm-6  col-xs-6 ">
                        <label>
                            @Resources.Resource.thSupplierBornDate:
                        </label>
                    </div>
                    <div class=" legDescColumn col-lg-2 col-md-3  col-sm-6  col-xs-6 ">
                        <label>
                            @Resources.Resource.SupplierBornDateDesc
                        </label>
                    </div>
                    <div class=" legColumn col-lg-1 col-md-1  col-sm-6  col-xs-6 ">
                        <label>
                            @Resources.Resource.thProductionLot:
                        </label>
                    </div>
                    <div class=" legDescColumn col-lg-2 col-md-3  col-sm-6  col-xs-6 ">
                        <label>
                            @Resources.Resource.ProductionLotDesc
                        </label>
                    </div>
                </div>
                <div class=" row">
                    <div class=" legColumn col-lg-1 col-md-1  col-sm-6 col-xs-6 ">
                        <label>
                            @Resources.Resource.thKLTDLeadProductionPerMonth:
                        </label>
                    </div>
                    <div class=" legDescColumn col-lg-3 col-md-3  col-sm-6 col-xs-6 ">
                        <label>
                            @Resources.Resource.KLTDLeadProductionPerMonthDesc
                        </label>
                    </div>
                    <div class=" legColumn col-lg-1 col-md-1  col-sm-6 col-xs-6 ">
                        <label>
                            BQ:
                        </label>
                    </div>
                    <div class=" legDescColumn col-lg-2 col-md-3  col-sm-6 col-xs-6 ">
                        <label>
                            @Resources.Resource.BoxQuantityDesc
                        </label>
                    </div>
                    <div class=" legColumn col-lg-1 col-md-1  col-sm-6 col-xs-6 ">
                        <label>
                            IC:
                        </label>
                    </div>
                    <div class=" legDescColumn col-lg-2 col-md-2  col-sm-6 col-xs-6 ">
                        <label>
                            @Resources.Resource.InterchangeableCodeDesc
                        </label>
                    </div>
                </div>
                <div class="row">
                    @if (HttpContext.Current.Session["Role"].ToString().Equals(((int)PDXWEB.BusinessModels.Common.Enumerations.Roles.Dealer).ToString()))
                    {
                        if (HttpContext.Current.Session["INVR_FLAG"] != null && HttpContext.Current.Session["INVR_FLAG"].ToString().Equals("Y"))
                        {
                            <div class=" legColumn col-lg-1 col-md-1  col-sm-6 col-xs-6 ">
                                <label>
                                    Inv Resp:
                                </label>
                            </div>
                            <div class=" legDescColumn col-lg-3 col-md-3  col-sm-6 col-xs-6 ">
                                <label>
                                    @Resources.Resource.InvResp
                                </label>
                            </div>
                        }
                    }
                    else
                    {

                        <div class=" legColumn col-lg-1 col-md-1  col-sm-6 col-xs-6 ">
                            <label>
                                Inv Resp DBs:
                            </label>
                        </div>
                        <div class=" legDescColumn col-lg-3 col-md-3  col-sm-6 col-xs-6 ">
                            <label>
                                @Resources.Resource.InvRespDBs
                            </label>
                        </div>

                    }
                    <div class=" legColumn col-lg-1 col-md-1  col-sm-6 col-xs-6 ">
                        <label>
                            DB Mortality:
                        </label>
                    </div>
                    <div class=" legDescColumn col-lg-3 col-md-3  col-sm-6 col-xs-6 ">
                        <label>
                            @Resources.Resource.DBMortality
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modals">
    <!-- Modal -->
    <div class="modal fade" id="ErrorModal" role="dialog" style="padding-top: 220px;">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        @Resources.Resource.MultiplePartsStockInquiry
                    </h4>
                </div>
                <div class="modal-body" id="divModalBody">
                </div>
                <div class="modal-footer">
                    <button style="text-align: center; float: none !important;" id="btnOk" class="btn btn-default center-block"
                            data-dismiss="modal">
                        @Resources.Resource.btnOK
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modals">
    <!-- Modal -->
    <div class="modal fade" id="MessageModal" role="dialog" style="padding-top: 169px;">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        @Resources.Resource.MultiplePartsStockInquiry
                    </h4>
                </div>
                <div class="modal-body" id="modalBody">
                    <img class="imgError" />
                    <label id="lblMessageText" class="lblError">
                    </label>
                </div>
                <div class="modal-footer">
                    <button style="text-align: center; float: none !important;" id="btnOk" class="btn btn-default center-block"
                            data-dismiss="modal">
                        @Resources.Resource.btnOK
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hiddenForm" style="display: none !important;">
</div>
<script>

//hst002 start
var PriceCalculationMethod;
    function change_kmelistprice_text(type) {
    if (type == "B") {
        $(".col-dnet").text("@Resources.Resource.thKMEListPrice");
    }
    else {
        $(".col-dnet").text("@Resources.Resource.thDNetPrice");
    }
}
function blink_text() {
    if ($(".col-dnet").hasClass("blink")) {
        $(".col-dnet").switchClass("blink", "blink2", 1000, "easeInOutQuad");
    }
    else {
        $(".col-dnet").switchClass("blink2", "blink", 1000, "easeInOutQuad");
    }
}
//hst002 end
var resizeTimer;
    var txtErrorType;
        var txtError;
 $(window).resize(function ()
    {
       // $("#ui-accordion-1-header-0").css("width",$("#ui-accordion-1-panel-0").width())
    });

    function Resized()
    {



    }

 function GetOptionParts(formData)
 {
    //== hst001: Populating Option Parts Grid ==============================================
    $.post("@Url.Action("MultiPartsStockInqSearchOptionParts", "StockInquiry", null)",formData,function (data) {
    if(CheckForSessionExpiry(data))
    {
        SessionExpiredRedirect();
        return;
    }
    else
    {
        $("#lblMsg").html(lblMessage);
        if(isRealValue(data))
        {
            if(data.trim()!="" && data.trim() !=null)
            {
            $("#OptionPartContainer").css("display","inline");
            $("#divToUpdateOptionPart").html(data);
            }
            else
            {
                $("#OptionPartContainer").css("display","none");
                $("#divToUpdateOptionPart").html("");
            }
            var pcmt = "@Model.PriceCalculationMethod";
            change_kmelistprice_text(pcmt);
            if (pcmt == "B") {
                $(".col-dnet").removeClass("blink").removeClass("blink2");
            }
        }
    }

    });
    //==========================================================================================
 }


$(document).ready(function () {
$(".lagends").removeAttr("style");
$(".accordion").accordion({autoHeight:true,
            collapsible: true,
            active: false
        });
$(".accordianRows label").attr("style","white-space: nowrap;");
        var pcmt = "@Model.PriceCalculationMethod";
        if (pcmt == "D") {
            setInterval(blink_text, 1000);
        }


$("#divToUpdate").parent("div").prepend("<div id='divLoading'></div>");
 $("#txtPart1").focus();
DisableControlsOnLoad();
 $(".bootstrap-filestyle input[type=text]").addClass("hidden-sm hidden-md ");
});



// $('#ErrorModal').on('hidden.bs.modal', function () {
//          $(".ClsSelect").each(function(){
//          l
//          $(this).attr("checked",false);
//


//          });

//$("#btnIntrChngblty").attr("disabled",true);

//        })

var lblMessage;
    $("#btnSearch").on("click", function () {
  if( !PostGetPreCheck()){return;}//This Check makes sure that there is not any exsiting Ajax Request ,in other case the call is returned void and doesnt proceeds to next code
    $("#lblMsg").html("");
    var count=0;
    $(".PartInput input[type=text]").each(function () {
    if($(this).val()!=""){count++;}
    });

    if(count>0){}//Do nothing if Any textbox Contains Value
    else
    {
    $("#divModalBody").html("");


              //txtError="Please enter at least one Part No";
               txtError="@Resources.Resource.MsgInfo58";
               txtErrorType="0";
               DisplayModal(txtErrorType,txtError) ;
               DisableControlsOnLoad();
           $('#tblSoStatus tbody').remove();

    return;


;}
$("#txtPartNo").next("span").html(" ") ;
var formData = {
            txtPart1: $("#txtPart1").val(),
            txtPart2: $("#txtPart2").val(),
            txtPart3: $("#txtPart3").val(),
            txtPart4: $("#txtPart4").val(),
            txtPart5: $("#txtPart5").val(),
            txtPart6: $("#txtPart6").val(),
            txtPart7: $("#txtPart7").val(),
            txtPart8: $("#txtPart8").val(),
            txtPart9: $("#txtPart9").val(),
            txtPart10: $("#txtPart10").val(),
            txtPart11: $("#txtPart11").val(),
            txtPart12: $("#txtPart12").val(),
            ddlManufacturer: $("#ddlManufacturer").val(),
            ddlStockPoint: $("#ddlStockPoint").val()
            };
            DisableControlsOnLoad();
            $.post("@Url.Action("MultiPartsStockInqSearch", "StockInquiry", null)",formData,function (data) {

            if(CheckForSessionExpiry(data))
           {

           SessionExpiredRedirect();
            return;
           }
           else
           {

            $("#lblMsg").html(lblMessage);
            if(isRealValue(data))
            {

                //var data=data.replace("$(containerId).parent().delegate","$(containerId).parent().undelegate();$(containerId).parent().delegate ");
                //var data=data.replace("$(containerId).swhgLoad($(this).attr('href'), containerId, callback);"," if( !($(this).parent('li').hasClass('disabled')) ) { $(containerId).swhgLoad($(this).attr('href'), containerId, callback);}");
                $("#divToUpdate").html(data);
                 var pcmt = "@Model.PriceCalculationMethod";

                if (pcmt == "B") {
                    $(".col-dnet").removeClass("blink").removeClass("blink2");
                }
                change_kmelistprice_text(pcmt);
               //== hst001: Populating Option Parts Grid ==============================================
               var fromDataForOptionParts = {txtPart1: $("#txtPart1").val(),ddlManufacturer: $("#ddlManufacturer").val(),ddlStockPoint: $("#ddlStockPoint").val()}
               GetOptionParts(fromDataForOptionParts);
               //==========================================================================================
            }
           }


});
});
     $(document).on('keydown', '.PartInput input[type=text]', function (e) {if (this.value.length >= 20 && e.keyCode != 8){e.preventDefault()  ;return false; } });
     $( ".PartInput input[type=text]" ).on("paste change", function(event) {  var currentTxt=$(this) ;  setTimeout( function() {   if( currentTxt.val().trim().length>21   ){  currentTxt.val( jQuery.trim(currentTxt.val()).substring(0, 20))  }         }, 1); });


$(document).on("click",".gridRow,.gridAltRow", function () {


//Following loop will collapse all expanded rows

//Shabbir 22-12-2016 isChain flag Column change its position based on
//KME List Price right allocation, So added below check
var flgColumnIndex = 0;

if($(this).find('td').eq(15).hasClass('ListPrice'))
{
    flgColumnIndex = 33;
}
else
{
    flgColumnIndex = 32;
}

if($.trim($(this).find('td').eq(flgColumnIndex).text()) != "1")
{
    var expandedRows = $(".gridRow"); //hst001
    var isIntExist=$.trim($(this).find("td.intExist").text());

    expandedRows.not(this).each(function(){

    $(this).removeClass("expanded");
    $(this).removeClass("highlight");

    $("tr.hideChild").each(function() {
        var isChained = $.trim($(this).next('tr').find('td').eq(flgColumnIndex).text());
        if(typeof isChained != 'undefined' && isChained == "0")
        {
            $(this).removeClass("hideChild").addClass("chainParent");
            return false;
        }
        $(this).removeClass("hideChild").addClass("chainParent");
        });
    });
    //============================================================================

    //hst001 Start
    if($(this).hasClass("highlight"))
    {
        $(this).removeClass("highlight");
    }
    else
    {
        $(this).addClass("highlight");
        var tempPartNumber = $(this).find("td").eq(0).text().trim();
        var indentificationString = $(this).find("td").eq(1).text().trim();
        var fromDataForOptionParts = {txtPart1: tempPartNumber,ddlManufacturer: $("#ddlManufacturer").val(),ddlStockPoint: $("#ddlStockPoint").val()}
        var mainDiv = $(this).parent().parent().parent().parent().attr("id");
        if(mainDiv!="divToUpdateOptionPart")
        {
            if(indentificationString.includes("Opt"))
            {
                GetOptionParts(fromDataForOptionParts);
            }
            else
            {
                $("#OptionPartContainer").css("display","none");
                $("#divToUpdateOptionPart").html("");
            }

        }

    }
    //hst001 End

    if(!isIntExist.includes("Int")) //hst001 : Changed Location
    return ;



    if(!$(this).hasClass("expanded") && $.trim($(this).find('td').eq(flgColumnIndex).text())=="0")
    {
        $(this).addClass("expanded");
        //$(this).addClass("highlight");

        $(this).nextAll().each(function() {

        if($(this).hasClass('chainParent'))
        {
            var isChained = $.trim($(this).next('tr').find('td').eq(flgColumnIndex).text());
            if(typeof isChained != 'undefined' && isChained == "0")
            {
            $(this).find('td').eq(1).html('');
            $(this).removeClass("chainParent").addClass("hideChild").addClass("ChainedPart");
            return false;
            }
            $(this).find('td').eq(1).html('');
            $(this).removeClass("chainParent").addClass("hideChild").addClass("ChainedPart");
        }//end if
        });//end each loop

    }//end if
    else if($(this).hasClass("expanded") && $.trim($(this).find('td').eq(flgColumnIndex).text())=="0")
    {
        $(this).removeClass("expanded");
        //$(this).removeClass("highlight");

        $("tr.hideChild").each(function() {

            var isChained = $.trim($(this).next('tr').find('td').eq(flgColumnIndex).text());
            if(typeof isChained != 'undefined' && isChained == "0")
            {
            $(this).removeClass("hideChild").addClass("chainParent");
            return false;
            }
            $(this).removeClass("hideChild").addClass("chainParent");
        });
    }

}


//    $("tr.chainParent").each(function() {
//    $(this).removeClass("chainParent").addClass("hideChild");

//        var isChained = $.trim($(this).next('tr').find('td').eq(33).text());
//        if(typeof isChained != 'undefined' && isChained == "0")
//        {
//        return false;
//        }
//});
//    var description = $(this).closest("tr").find('td').eq(2).text();
//
//        if(description=="PartNo Error.")
//        {
//        return;
//        }
//         $(".InvoiceRow").remove();
//    var check = { strPartNumber: $(this).closest("tr").find('td').eq(0).text(), strPartDesc: $(this).closest("tr").find('td').eq(2).text()}


// $.post("@Url.Action("MultiPartsStockInq_Select", "StockInquiry", null)",check,function(Result){
//                     if (CheckForSessionExpiry(Result))
//                     {
//                      SessionExpiredRedirect();
//                         return;
//                      }
//                    else
//                      {
//                      if($.trim(Result)!=""){  var result=Result.replace("$(containerId).parent().delegate","$(containerId).parent().undelegate();$(containerId).parent().delegate ");
//                       var result=Result.replace("$(containerId).swhgLoad($(this).attr('href'), containerId, callback);"," if(  !($(this).parent('li').hasClass('disabled')) && !($(this).parent('li').hasClass('active')) ) { $(containerId).swhgLoad($(this).attr('href'), containerId, callback);}");
//                       //$("#divInvoiceModalBody").html("");
//
//                        $(CurrntRow).after("<tr class='InvoiceRow'><td colspan=30 style=\"height:100px !important; \">"+result+"</tr></td>");  }
//                          //$("#divToUpdate").html(Result);    }
//                          //  $(CurrntRow).after('<tr><td>  <table> <thead> <tr ><th>Date</th> <th>Qty</th> </tr> </thead>    <tbody><tr><td>as</td><td>as</td>  </tr>     <tr><td>sds</td> <td>sds</td> </tr></tbody>   </table>    </td></tr>');
//                      }
//
//           });
   //else if(!this.checked){ $("#btnIntrChngblty").attr("disabled",true);}
});


$(document).on("click","#btnIntrChngblty",function () {

var checkedPartNo;
$(".ClsSelect").each(function () {
if(this.checked)
{
checkedPartNo=$(this).val();
return;
}

});//End of Each


if(checkedPartNo!=null)
{
var arrr=checkedPartNo.split(",");
    if(arrr.length>0)
    {
        var partNo=checkedPartNo.split(",")[0];
        var discription=checkedPartNo.split(",")[1];
        if(discription!="PartNo Error.")
        {
             window.location.href="@Url.Action("StockInquiry", "StockInquiry", null)"+"?partno="+partNo;
        }
    }

}

});//End of Interchangibility Click eve


$( document ).ajaxSuccess(function( event, xhr, settings ) {
//      if( CheckForSessionExpiry(xhr.responseText))
//      {
//       /// SessionExpiredRedirect();
//
//      }

});


///This Method Unchecks all Checked checkboxes on Modal Dialogue close Event
//$('#ErrorModal').on('hidden.bs.modal', function () {
//$(".ClsSelect").each(function () {
//    if(this.checked)
//    {
//    $(this).removeAttr("checked");
//
//    }
//});
//});


</script>
<script>
 function DownloadFile()
    {
         if(arguments.length>1)
         {
         DownloadPartsMasterData(arguments[0]);
         }
         else
         {
         DownloadData(arguments[0]);
         }
    }


function DownloadPartsMasterData(fileType)
{

$("#lblMsg").html("");
var postData={txtFileFormate:fileType,ddlManufacturer:$("#ddlManufacturer").val()};
$.post("@Url.Action("MultiPartsStockInq_ExportMasterDataToExcel", "StockInquiry", null)",postData,function (data)
{
   if(CheckForSessionExpiry(postData))
           {

           SessionExpiredRedirect();
            return;
           }
else
{
    if(isRealValue(data.ErrorOccured))
    {
     $(".modal-header").removeClass("ModalDesign");
       $("#divModalBody").html("");
               txtError=data.ErrorMessage;
               txtErrorType="0";
               DisplayModal(txtErrorType,txtError) ;

    }
    else
    {
      if(CheckForServerSideError(data))
        {

        $(".modal-header").removeClass("ModalDesign");
        $(".hiddenForm").html(data);
          DisplayModal(txtErrorType,txtError) ;



        }
        else
        {
            $(".modal-header").removeClass("ModalDesign");
               txtError=data.ErrorMessage;
               txtErrorType="1";
               DisplayModal(txtErrorType,txtError) ;
            window.location.href=data.RedirectToUrl;


        }

    }


    }


});///End of Post


}
function DownloadData(fileType)
{
$("#lblMsg").html("");
var postData={txtFileFormate:fileType};
    $.post("@Url.Action("MultiPartsStockInq_ExportToExcel", "StockInquiry", null)",postData,function (data)
    {
        if(CheckForServerSideError(data))
        {

        $(".modal-header").removeClass("ModalDesign");
        $("#divModalBody").html("");



        }
        else if(CheckForSessionExpiry(data))
        {
        SessionExpiredRedirect();
        return;
        }
        else
        {

        $(".modal-header").removeClass("ModalDesign");
        $(".hiddenForm").html(data);
        //DisplayModal(txtErrorType,txtError) ;

        }

    });///End of Post




}
function DisableControlsOnLoad()
{
$("#btnIntrChngblty").attr("disabled",true);
$("#btnExport").attr("disabled",true);
$("#ddlFileType").attr("disabled",true);
$("#btnExportPartsMasterData").attr("disabled",true);


}
function DisableControl()
{


}
function EnableControls()
{
 // $("#btnIntrChngblty").removeAttr("disabled");
$("#btnExport").removeAttr("disabled");
$("#ddlFileType").removeAttr("disabled");
//$("#btnExportPartsMasterData").removeAttr("disabled");
}
 function CheckForServerSideError(data)
    {
        var tempData = JSON.stringify(data);
        if (tempData.indexOf("Sorry,") > -1)
        {
        return true;
        }
    }
  function  AssignValuesToTxts(data)
  {
     for(var name in data)
     {
         $(".PartInput input[type=text]").each(function ()
         {
            if( $(this).attr("id")==name )
            {
                $(this).val(data[name]);
          }}); //End to Each
      }

  } //End of Function AssignValuesToTxts()


function isRealValue(obj)
{
    return obj && obj !== "null" && obj !== "undefined";
}

function AfterLoad()
{
$('.NewPaging ul').addClass("pagination");
}
</script>
@if (isInternetExplorer)///Render Different File upload method to hande in-compatability of Async file upload issue with IE
{
    <script>
        $("#btnImport").removeAttr("disabled");

        $('#btnImport').click(function () {
            if ($('.bootstrap-filestyle input[type=text]').val().trim() == "") {
                //$("#lblMessage").html("Please select csv  file").attr("style", "color:red");
                // $("#lblMessage").html("").attr("style", "color:red");
                // $("#ErrorModal").modal();

                txtError = "@Resources.Resource.MsgInfo52";
                txtErrorType = "0";
                DisplayModal(txtErrorType, txtError);
                return;
            }

            var form = $('#frmIEUpload');

            form.submit();

        });
    </script>

}
else
{

    <script>
 $("#btnImport").attr("disabled",true);

$('#fuUploadCSV').on("change",function (){
var totalFiles = document.getElementById("fuUploadCSV").files.length;
         if (totalFiles.toString() == "0")
         {
          $("#btnImport").attr("disabled","disabled");

         }
         else
         {
                     var ext = $(this).val().split('.').pop().toLowerCase();
                    if($.inArray(ext, ['CSV','csv']) == -1)
                    {

                        $("#btnImport").attr("disabled","disabled");
                         // $("#divModalBody").html("");
                        //  $("#divModalBody").prepend("<span id='lblMessage'></span>").attr("style","color:red;");
                          //$("#lblMessage").html("Invalid file Formate ");
                         // ("#lblMessage").html("");
                         // $("#ErrorModal").modal();
                         txtError="@Resources.Resource.MsgInfo27";
                         txtErrorType="0";
                          DisplayModal(txtErrorType,txtError) ;

                    }
                    else
                    {

                    $("#btnImport").removeAttr("disabled");

                    }

         }





});

$('#btnImport').click(function ()
{
var formData = new FormData();
var totalFiles = document.getElementById("fuUploadCSV").files.length;
    if (totalFiles.toString() == "0")
    {
   // $("#divModalBody").html("");
   // $("#divModalBody").prepend("<span>Please Select CSV File</span>").attr("style","color:red;");
   // $("#divModalBody").prepend().attr("style","color:red;");
   // $("#ErrorModal").modal();

               txtError="@Resources.Resource.MsgInfo52";
               txtErrorType="0";
               DisplayModal(txtErrorType,txtError) ;

    return false;
    }
    for (var i = 0; i < totalFiles; i++)
    {
    var file = document.getElementById("fuUploadCSV").files[i];
    formData.append("fuUploadCSV", file);
    }

$.ajax({
type: "POST",
url:"@Url.Action("MultiPartsStockInq_ImportFile", "StockInquiry", null, Request.Url.Scheme)",
data: formData,
contentType: false,
processData: false ,
success: function (data)
{
      if(CheckForSessionExpiry(data))
        {
        SessionExpiredRedirect();
        return;
        }
        else

        {
            if(isRealValue(data.ErrorMessage))
            {
                $("#divModalBody").html("");
                txtError=data.ErrorMessage;
                txtErrorType="0";
                DisplayModal(txtErrorType,txtError) ;
                $("#btnExportPartsMasterData").attr("disabled" ,true)


            }    else{AssignValuesToTxts(data);$("#btnExportPartsMasterData").removeAttr("disabled" );}

         }
},
error: function (data) {
//                 $.each(data, function (index, value) {
//                     alert(index)
//                 });
//
   // $("#divModalBody").html("");
  //  $("#divModalBody").prepend("<span>Failed to retreive data</span>").attr("style","color:red;");
   // $("#ErrorModal").modal();
               txtError="@Resources.Resource.MsgInfo3";
               txtErrorType="0";
               DisplayModal(txtErrorType,txtError) ;

}
})
});
    </script>


}
@if (Session["ieFileUpload"] != null)//hst001
{
    <script>

       $.post("@Url.Action("MultiPartsStockInq_ImportFileHandlerForIE", "StockInquiry", null)",null,function (PartsDetails) {

                        if(isRealValue(PartsDetails))
                            {
                               AssignValuesToTxts(PartsDetails);

                            }




         });
         AfterLoad();
    </script>
}
<script type="text/javascript">
    $(document).on('click', '#btnOk', function () {
        $("#MessageModal").modal('hide');

    });
</script>
