@{
    ViewBag.Title = "Quotation Details";
    if (false)
        {
        <script src="../../../Scripts/jquery-1.9.1-vsdoc.js" type="text/javascript"></script>
        }
}

<link href="@Url.Content("~/Content/JqueryUI/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/JqueryUI/jquery-ui.js")" type="text/javascript"></script> 
 
<style type="text/css">
    
    
textbox#txtQuotationSubNo
{
    width:12% !important;
    }
.btnMargin
{
  margin-left:10px;   
  margin-top:4px;
    
 }



.form-inline .form-group     
{
    margin-right: 15px;
     padding-right:10px; 
     padding:0px;
     margin-bottom:0px;     
}
@@media screen and (min-width:768px) and (max-width: 991px) 
{
    select
    {
    margin-left: 0;
    width: 150%;
        
        }
    
    
    }
    
    
    
  @@media screen and (min-width:991px) and (max-width: 1199px) 
{
  
  .btn
  {
       width:100 !important;
   }
  
  
    select
    {
    margin-left: -16px !important;
    width: 150%;
        
        }
    
    
    }
    
    
       
  @@media screen and  (min-width: 1200px) 
{
  
   .fileContainer
   {
       margin-right: -42px !important;
       
       
       }
    select
    {
      margin-left: 12px !important;
      width: 137% !important;
        
        }
    
    }   
    
    
    
    
@@media screen and (min-width:508px) and (max-width: 767px) 
  {
   div.SizeOnXs
    {
      /*margin-left:200px !important;  */ 
       width:25% !important;
       display:inline-block !important;
       
      }
      div#xyz 
      {
          margin-left:0px !important;
          }
      
      input,select
      {
       width:auto;   
       }
      br { display:  none; }
} 
@@media screen and (max-width:767px)
{
    form{ display:block!important}
     .controlsGroup button, .controlsGroup file,.controlsGroup select { width:100% !important; }     
    .InputElements{ width:100% !important;}    
     .perc68{ width:68% !important;}
     .perc30{ width:30% !important;}     
      br { display:  none; }
       div#xyz { margin-left:0px !important; }    
       button#btnSearch{margin-left:0px !important;}
       
            .btn,input[type=file],select{ margin-left:0px !important;}
        
        
      
}    
  #txtCDateT,#txtCDateF
        {
          
            background-image:url('/Images/calender.png');
            background-repeat: no-repeat;
            background-position:right top;
            
            
          }    
          
    input[type=file]     
     {
   font-size: 10px;
    height: 29px;
    
      display: inline-flex; 
     
              }
               @@media screen and  (min-width:734px) and (max-width:736px)  
    {
        .NewPaging
        {
            
            
        }
        
        }
        
   @@media screen and (max-width:736px)  
    {
        .twoElements
        {
             width: 63% !important;
            
        }
        
        }
        
           
           
           
 </style>
@* IE Specific Style for File *@
  @{
      
        string strIeBrowserTitle = "ie";
        if (Request.Browser.Browsers.Contains(strIeBrowserTitle))
        {
        
        <style>
         .fileContainer
         {
           margin-right:13px !important;
             
             }
         @@media screen and  (max-width: 768px) 
{
  
   input[type=file]
   {
        width:150%  !important;
        
   }
}
        </style>
        }
            
            
            
            }

<div class="container QuotationDetailsMain  childcontent ">
    <div class="panel panel-primary panelWidth">
        <div class="panel-heading PanelTitle">
            <h3 class="panel-title pull-left" style="font-weight: bold; margin-right: 30px !important">
                @Resources.Resource.QuotationDetail</h3>
            
        </div>
       <div class="panel-body" style="margin-top: -11px ! important;">

            <span id="lblMessage" class=" "></span>


                  <div class="row" style="margin: 2px 0px 10px -14px ! important; "> 
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <button class=" btn  " id="btnSearch"   >@Resources.Resource.btnSearch</button> 
         <button class=" btn  " id="btnStockSearch"  style="width: 107px ! important;" >Stock Search</button> 
          
         </div>
      
  </div>

 
            
            <div class="row">
               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
               <div> @Html.Label(@Resources.Resource.lblQuotationNo) </div>
                <div> @Html.TextBox("txtQuotationNumber", null, new { style = "display: inline; width: 44%;", @class = "form-control InputElements perc68 " })
                            @Html.TextBox("txtQuotationSubNo", "0", null, new { style = "display: inline; width: 30% ! important;", @class = "form-control InputElements perc30" })
                            <span id="spnQuotation"></span>
                </div>

               </div>
            


            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
               <div>   @Html.Label(@Resources.Resource.lblStatus) </div>
                <div>    @Html.TextBox("txtStatus", null, new { disabled = "disabled", @class = "form-control InputElements" }) </div>

               </div>




               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
               <div>   @Html.Label(@Resources.Resource.lblCurrency) </div>
                <div>    @Html.TextBox("txtCurrency", null, new { disabled = "disabled", @class = "form-control InputElements" }) </div>

               </div>

 
            

           

      
             <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
               <div>    @Html.Label(@Resources.Resource.lblDistributorCode) </div>
                <div>  @Html.TextBox("txtDistributerCode", null, new { disabled = "disabled", @class = "form-control InputElements" }) </div>
            </div>

              
              
              
              
            </div>
     <div class="row">
      <div class="col-lg-7 col-md-3 col-sm-7 col-xs-12">
               <div>    @Html.Label(@Resources.Resource.lblDistributorName) </div>
                <div>    @Html.TextBox("txtDistributerName", null, new {   disabled = "disabled", @class = "form-control InputElements" })</div>
            </div>
            @*<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                @Html.CheckBox("chkErrorMark") <label for="chkErrorMark">@Resources.Resource.QuotationDetails_lblErrorMark</label> 
                 </div>*@
     </div>
           @*<div class="row">
              
           
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
              <div> <label for="chkWareHouse" >@Resources.Resource.QuotationDetails_lblWareHouse</label> <label for="chkWareHouse" id="lblWareHouse"></div>
              <div>    <input type="checkbox" name="chkWareHouse" id="chkWareHouse" />  </div>
              
              </div>
                   <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">  
              <div>  <label for="chkPrefferedOrigins" >@Resources.Resource.QuotationDetails_lblPrefferedOrigins</label>
              </div>
              <div>
              
                     
                   
                   <input type="checkbox" name="chkPrefferedOrigins" id="chkPrefferedOrigins" />  
              </div>
              
              </div>
           
           </div>*@
            
            <br />
            <div class="row controlsGroup">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 fileContainer" style="padding-top: 4px; margin-right: 13px ;">
                <input type="file" id="fuUploadCSV"/>
               
                </div>

   <div class="col-lg-1 col-md-2 col-sm-2 col-xs-12">
 <button class="btn btn-sm btn-primary custom btnMargin" id="btnImport"   > @Resources.Resource.btnImport</button>
                
                </div>

 
                   <div class="col-lg-1 col-md-2 col-sm-2 col-xs-12">
                    

                      <button class="btn btn-sm btn-primary custom btnMargin" id="btnDownload"> @Resources.Resource.btnDownload</button>
                    
                
              
            
                </div>  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
                  @Html.DropDownList("ddlFileType", new List<SelectListItem> { new SelectListItem { Text = "CSV", Value = "CSV" }, new SelectListItem { Text = "XLS", Value = "XLS" } }, new { style = "height: 30px ! important; margin-left: 7px;", @class = "btnMargin" })
        
        
           
                
                </div>
                   <div class="col-lg-1 col-md-2 col-sm-2 col-xs-12">
                      <button class="btn btn-sm btn-primary custom btnMargin" id="btnCalculate"  > @Resources.Resource.btnCalculate</button>
             
                </div>
                   <div class="col-lg-1 col-md-2 col-sm-2 col-xs-12">
                        <button class="btn btn-sm btn-primary custom btnMargin" id="btnUpdate"   > @Resources.Resource.btnUpdate</button>
               
                </div>

            </div>

                    
             
     
            <br />  



            <div style=" clear:both">
            
            </div>


             <div id="divParts" style="margin-top: 20px;height: 418px; overflow:scroll">
            

            </div>

     <div class="lagends accordion hideonLoad ">
           
           <a href="#" >Legends <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>    </a>
            
          <div>  
             <div class="row">

           <div class="col-lg-1 col-md-3  col-sm-3  col-xs-6 "> 
           <label>@Resources.Resource.thLineNo:</label>   
           </div>
           <div class="col-lg-2 col-md-3  col-sm-3  col-xs-6 "> 
           <label>@Resources.Resource.LineNoDesc</label>   
           </div>


           <div class="col-lg-1 col-md-3  col-sm-3  col-xs-6 "> 
           <label>SLN:</label>   
           </div>
           <div class="col-lg-2 col-md-3  col-sm-3  col-xs-6 "> 
           <label>@Resources.Resource.thSubLineNo</label>   
           </div>

           <div class="col-lg-1 col-md-3  col-sm-3  col-xs-6 "> 
           <label>CO:</label>   
           </div>
           <div class="col-lg-2 col-md-3  col-sm-3  col-xs-6 "> 
           <label>@Resources.Resource.thCountryOfOrigin:</label>   
           </div>
            
        


           </div>
           
           <div class="row">

 

           <div class="col-lg-1 col-md-3  col-sm-3  col-xs-6 "> 
           <label>RQ:</label>   
           </div>
           <div class="col-lg-2 col-md-3  col-sm-3  col-xs-6 "> 
           <label>Requested Quantity</label>   
           </div>

           <div class="col-lg-1 col-md-3  col-sm-3  col-xs-6 "> 
           <label>AQ:</label>   
           </div>
           <div class="col-lg-2 col-md-3  col-sm-3  col-xs-6 "> 
           <label>Accepted Quantity:</label>   
           </div>
            


           </div>

           <div class="row">

     
           <div class="col-lg-1 col-md-3  col-sm-3  col-xs-6 "> 
           <label>DPI:</label>   
           </div>
           <div class="col-lg-2 col-md-3  col-sm-3  col-xs-6 "> 
           <label>Discount Per Item:</label>   
           </div>

         

           <div class="col-lg-1 col-md-3  col-sm-3  col-xs-6 "> 
           <label>TR:</label>   
           </div>
           <div class="col-lg-2 col-md-3  col-sm-3  col-xs-6 "> 
           <label>Tax Rate:</label>   
           </div>
            


           </div>

            <div class=" row">
              <div class="col-lg-1 col-md-3  col-sm-3  col-xs-6 "> 
           <label>TA:</label>   
           </div>
              <div class="col-lg-2 col-md-3  col-sm-3  col-xs-6 "> 
           <label>Tax Amount:</label>   
           </div>
          
          

            
      
      
       
            </div>
             </div>
             </div>
              


           <div id="outer" style="margin-left: 10px; margin-top: 9px;">  
            <div class="row">    
                   <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                             <div> @Html.Label(@Resources.Resource.QuotationDetails_lblTotalPriceCost) </div>
                            <div>  @Html.TextBox("txtTotalPriceCost", "0", null, new { style = "  ", @readonly = "readonly", @class = "form-control  InputElements" })</div>
                
             </div>
                           


                           <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                             <div> @Html.Label(@Resources.Resource.QuotationDetails_lblTotalSellingPrice) </div>
                            <div>   @Html.TextBox("txtTotalSellingPrice", "0", null, new { style = "  ", @readonly = "readonly", @class = "form-control  InputElements" })</div>
                
             </div>  
                              
                     <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                                             <div> @Html.Label(@Resources.Resource.QuotationDetails_lblGrossMarginRate) </div>
                                            <div>   @Html.TextBox("txtGrossMarginRate", "0", null, new { style = "  ", @readonly = "readonly", @class = "form-control  InputElements" })</div>
                       
                             </div>
                                       
                        



                           <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                          <div> @Html.Label(@Resources.Resource.QuotationDetails_lblTotalWeight) </div>
                           <div>  @Html.TextBox("txtTotalWeight", "0", null, new { style = "  ", @readonly = "readonly", @class = "form-control InputElements " })</div>
                   
                          </div>

                           <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 ">
                           <div>     @Html.Label(@Resources.Resource.QuotationDetails_lblNameOfOtherCharge1)</div>
                         <div >    @Html.TextBox("txtNameOfOtherCharge1", null, new { style = " width: 38% ;display:inline; ", @class = "form-control twoElements  InputElements " })
                        @Html.TextBox("txtOtherCharge1", "0", null, new { style = "width:35% !important;display:inline;", @class = "form-control   InputElements " })</div>
          
             </div>
                          <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                             <div>    @Html.Label(@Resources.Resource.QuotationDetails_lblTotalDiscount)</div>
                            <div>   @Html.TextBox("txtTotalDiscount", "0", null, new { style = "  ", @readonly = "readonly", @class = "form-control InputElements " })</div>
                
             </div>
            </div> 
          
            <div class="row">    
               
                           <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                             <div> @Html.Label(@Resources.Resource.QuotationDetails_lblTax) </div>
                            <div>  @Html.TextBox("txtTax", "0", null, new { style = "  ", @readonly = "readonly", @class = "form-control  InputElements" })</div>
                     
             </div>
                         <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                                             <div>   @Html.Label(@Resources.Resource.QuotationDetails_lblShippingCharges)</div>
                                            <div>  @Html.TextBox("txtShippingCharges", "0", null, new { style = "  ", @class = "form-control  InputElements" })</div>
           
                             </div>
                           
                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                             <div>   @Html.Label(@Resources.Resource.QuotationDetails_lblTotalPriceAmount) </div>
                            <div>   @Html.TextBox("txtTotalPriceAmount", "0", new { style = "  ", @readonly = "readonly", @class = "form-control  InputElements " })</div>
             
                     </div>
                            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                             <div>  @Html.Label(@Resources.Resource.QuotationDetails_lblAdjustedPrice)</div>
                            <div>  @Html.TextBox("txtAdjustedPrice", "0", null, new { style = "  ", @class = "form-control  InputElements" }) </div>
                     
                        </div>
                     



                           <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 ">

                             <div> @Html.Label(@Resources.Resource.QuotationDetails_lblNameOfOtherCharge2) </div>
                           <div  > @Html.TextBox("txtNameOfOtherCharge2", null, new { style = " width: 38% ;display:inline; ", @class = "form-control  twoElements InputElements" })
                        @Html.TextBox("txtOtherCharge2", "0", null, new { style = "width:35% !important;display:inline;", @class = "form-control InputElements " }) </div>
             
             </div>
                          
                       <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 ">
                             <div> @Html.Label(@Resources.Resource.QuotationDetails_lblGrandTotal)</div>
                            <div>  @Html.TextBox("txtGrandTotal", "0", null, new { style = "  ", @readonly = "readonly", @class = "form-control  InputElements" })</div>
                   
             </div>
                            

            </div>
            
</div>
             
         
             
        </div>
    </div>
      <input type="hidden" id="hfqutnToDelete" />
</div>
<script>
   

</script>
<script type="text/javascript">

      $(document).keypress(function (e) {
           if (e.which == 13) {
               $("#btnSearch").trigger("click");
           }
       });

        
var quotationStatus=0;
  var maxLineNo;
  var maxLineNoBackup;

        $(document).on("click",".tdReqPartNo,.tdReqQuantity",function (event) 
          {
               
           event.stopPropagation();               
            var currentTD=$(this);
            var currentText=$(this).text();
            if (currentTD.attr("class")=="tdReqPartNo") 
            
                {
                currentTD.html("");
                currentTD.append("<input type='text' class='addPartsinGrid' value='"+currentText+"'/>") ;
                 
                }

            else if (currentTD.attr("class")=="tdReqQuantity") 
            
                {
                 currentTD.html("");
                     currentTD.append("<input type='text' class='addQuantityinGrid' value='"+currentText+"'/>") ;
                }
             
          
          });





 












          $(document).on("click",".tdReqPartNo input,.tdReqQuantity input",function (event) 
          {
                   
            event.stopPropagation();
          
          
          });


            $(document).on("change",".tdReqPartNo input",function (event) 
          {
                   
                     var currentVal=$(this).val();
                     var currentTr= $(this).closest("tr");
                     currentTr.children("td").eq("3").text(currentVal);    
          
          });


                 $(document).on("focusout",".addPartsinGrid",function (event) 
          {
                   
                     var currentVal=$(this).val();
                     var currentTr= $(this).closest("tr");
                     currentTr.children("td").eq("3").text(currentVal);    
          
          });




     $("#btnCalculate").click(function () {
      var newPartsFromUser = [];
      $(".newPartRow").each(function () {
    
                var currRow=$(this);
                var reqPartNo= currRow.find(".tdReqPartNo").text();
                var reqQuantity= currRow.find(".tdReqQuantity").text();
                 newPartsFromUser.push({PartNoRequested:reqPartNo,RequestedQuantity:reqQuantity  });  

        });


          $.post("@Url.Action("AddNewPartsListFromGrid", "QuotationDetails", null)", {PartsDetailsModel:JSON.stringify(newPartsFromUser)},
              function (data) 
                {
                                   var data = data.replace('<script type="text/javascript">', '<script type="text/javascript"> $(".table").undelegate();');
                                   $('#divParts').undelegate();
                                   $('#divParts').html(data);
                       



                });      ///End Post

    
    });










 $('#btnDelete').click(function () 
  {

                     var partToDel=$("#hfqutnToDelete").val();
                      if (partToDel!=null) 
                      {                           
                      var formData = { partToDelete: partToDel };                     
                      var r = confirm("Are You Sure you Want to Delete this Part?");
                      if (r == true) {

                          $.ajax({
                              type: "POST",
                              data: formData,
                              url:"@Url.Action("DeleteSelectedPart", "QuotationDetails", null, Request.Url.Scheme)",
                              success: function (data) 
                              {

                                  var data = data.replace('<script type="text/javascript">', '<script type="text/javascript"> $(".table").undelegate();');
                                   $('#divParts').undelegate();
                                   $('#divParts').html(data);
                       

                                   
                                   $("#lblMessage").html("Part has been deleted").attr("style", "color:green");; 
                              },
                              error: function (data) 
                              {                                 
                                  alert("An Error Occures While Deleting Parts ");
                              }
                          });

                                              }


                                              }
        });




     $('#btnImport').click(function () {
         var formData = new FormData();
         var totalFiles = document.getElementById("fuUploadCSV").files.length;
         if (totalFiles.toString() == "0") {
             alert("Please Select CSV File");
             return false;
         }
         for (var i = 0; i < totalFiles; i++) {
             var file = document.getElementById("fuUploadCSV").files[i];
             formData.append("FileUpload", file);
         }

         $.ajax({
             type: "POST",

              url:"@Url.Action("UploadCsvFile", "QuotationDetails", null, Request.Url.Scheme)",
           
             data: formData,
             contentType: false,
             processData: false,
             beforeSend: function (xhr) {
                 //do something before send
             },
             success: function (data) {

                  $("#divParts").html(data);



             },
             error: function (data) {
                 //                 $.each(data, function (index, value) {
                 //                     alert(index)
                 //                 });
                 //                
                 alert("Failed");


             }
         })
     });
 





</script>

<script type="text/javascript">


    function DisableControls() {
        $("#btnDownload").attr("disabled", "disabled");
        $("#btnCalculate").attr("disabled", "disabled");
        $("#btnUpdate").attr("disabled", "disabled");
        $("#btnImport").attr("disabled", "disabled");
        $("#fuUploadCSV").attr("disabled", "disabled");
        $("#ddlFileType").attr("disabled", "disabled");
    }

    function EnableControls() {
        $("#btnDownload").removeAttr("disabled");
        $("#btnCalculate").removeAttr("disabled");
        $("#btnUpdate").removeAttr("disabled");
        $("#btnImport").removeAttr("disabled");
        $("#fuUploadCSV").removeAttr("disabled");
        $("#ddlFileType").removeAttr("disabled");
    }



    var isNewPartAddReq = false;
    function GetParameterValues(param) {
        var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < url.length; i++) {
            var urlparam = url[i].split('=');
            if (urlparam[0] == param) {
                return urlparam[1];
            }
        }
    }


    $(document).ready(function () {
        $(".accordion").accordion({
            collapsible: true,
            active: false
        });
        $(".hideonLoad").hide();

        DisableControls();
        var quotationNo = GetParameterValues('strQUTN');
        var subQuotationNo = GetParameterValues('strQutnSubNo');
        if (quotationNo != null && quotationNo != "") {
            $("#txtQuotationNumber").val(quotationNo);

        }
        if (subQuotationNo != "" && subQuotationNo != null) {
            $("#txtQuotationSubNo").val(subQuotationNo);
        }

        if (quotationNo != null && quotationNo != "") {

            LoadQuotationData();
        }

    });
  
  
</script>

<script type="text/javascript">

 $(document).on( 'li a[data-swhglnk="true"]','click',function () 
{
 
    
    maxLineNo=maxLineNoBackup;

});



    function AfterLoad() 
    {
   
   

     $('.NewPaging ul').addClass("pagination");
      DisablePagingForNoRecord();
     $('li.disabled a').each(function (event) {     
      
    });
     maxLineNo=maxLineNoBackup;
     $('a[data-swhglnk="true"]').attr('href', function () 
     {

     ///Change to index 5 when running on Localhost IIIS
     //Or Change to Index 4 on default Development Server
       var correctURL = this.href.split('/')[5].split('?')[0]; 
        
        return this.href.replace(correctURL, 'PartsDetails');
           
       
    });          

 
       if (quotationStatus=="In Process") 
       {
        $("#main #PartsInquiry > tbody").append("<tr class='trBtnAdd'><td>&nbsp</td> <td>  </td><td></td><td></td><td> </td><td></td><td></td><td> </td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>");
 
       }
      

         $(".trBtnAdd").on(  "click", function () { 
        $(this).before("<tr class='trBtnAdd'><td class='lineNo'></td> <td> </td><td></td><td><input type='text' class='addPartsinGrid'/></td><td> </td><td></td><td><input type='text' class='addQuantityinGrid'/>    </td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>");
        });

          $(document).on("change",".addQuantityinGrid",function () 
          {
                            
                  
                    var currentTr= $(this).closest("tr");
                    var strReqPartNo=currentTr.find("input.addPartsinGrid").val();
                    var txtRequestedQuantity=$(this).val();   
                    if ( currentTr.children("td:first").text()!="") 
                    {
    

                    }else
                    {
                      maxLineNo+=1;
                     currentTr.children("td:first").text(maxLineNo);
                    
                    }
                    
                     currentTr.children("td").eq("3").text(strReqPartNo).addClass("tdReqPartNo");
                     currentTr.children("td").eq("6").text(txtRequestedQuantity).addClass("tdReqQuantity");
                     currentTr.addClass("newPartRow");
                                              

          });



          $('.btnAddNewPartinGrid').click(function () {
               var reqPart=  $("#addPartsinGrid").val();
               var reqQuan = $("#addQuantityinGrid").val();
                  if (reqPart.length==0) {
                              alert("Please Enter Requested Part No");
                              return  ;
                            }

                            if (reqQuan.length==0) 
                            {
                          alert("Please Enter Quantity");
                            return  ;
                            }


                            if (isNaN(reqQuan)) 
                            {
                            alert("Please Enter Valid  Quantity");
                            return  ;
    
                            }

                            isNewPartAddReq=true;         

                        $.ajax({
                              type: "POST",
                              cache: 'false',
                              data: {txtReqPartNo:reqPart,txtReqQuantity:reqQuan},
                              url:"@Url.Action("AddNewPartFromGrid", "QuotationDetails", null)",
                              success: function (data) {
                                  var data = data.replace('<script type="text/javascript">', '<script type="text/javascript"> $(".table").undelegate();');
                                   $('#divParts').undelegate();
                                   $('#divParts').html(data);
                            
                                 
 

                              },
                              error: function (data) {
                                  
                                  alert("An Error Occured");




                              }
                          });





                           });

      
    }
   
         function CheckForSessionExpiry(data) 
         {
               var tempData = JSON.stringify(data);
                if (tempData.indexOf("Login") > -1)
                {              
                 window.location.href = "@Url.Action("login", "user", null)";
                } 
    }
    function isRealValue(obj) 
    {
        return obj && obj !== "null" && obj !== "undefined";
    }



</script>
<script type="text/javascript">


    $(document).on('keydown', '#txtQuotationNumber', function (e) { -1 !== $.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) || /65|67|86|88/.test(e.keyCode) && (!0 === e.ctrlKey || !0 === e.metaKey) || 35 <= e.keyCode && 40 >= e.keyCode || (e.shiftKey || 48 > e.keyCode || 57 < e.keyCode) && (96 > e.keyCode || 105 < e.keyCode) && e.preventDefault() });
    $(document).on('keydown', '#txtQuotationSubNo', function (e) { -1 !== $.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) || /65|67|86|88/.test(e.keyCode) && (!0 === e.ctrlKey || !0 === e.metaKey) || 35 <= e.keyCode && 40 >= e.keyCode || (e.shiftKey || 48 > e.keyCode || 57 < e.keyCode) && (96 > e.keyCode || 105 < e.keyCode) && e.preventDefault() });
    $(document).on('keydown', '#txtTotalPriceAmount', function (e) { -1 !== $.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) || /65|67|86|88/.test(e.keyCode) && (!0 === e.ctrlKey || !0 === e.metaKey) || 35 <= e.keyCode && 40 >= e.keyCode || (e.shiftKey || 48 > e.keyCode || 57 < e.keyCode) && (96 > e.keyCode || 105 < e.keyCode) && e.preventDefault() });
    $(document).on('keydown', '#txtOtherCharge1', function (e) { -1 !== $.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) || /65|67|86|88/.test(e.keyCode) && (!0 === e.ctrlKey || !0 === e.metaKey) || 35 <= e.keyCode && 40 >= e.keyCode || (e.shiftKey || 48 > e.keyCode || 57 < e.keyCode) && (96 > e.keyCode || 105 < e.keyCode) && e.preventDefault() });
    $(document).on('keydown', '#txtOtherCharge2', function (e) { -1 !== $.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) || /65|67|86|88/.test(e.keyCode) && (!0 === e.ctrlKey || !0 === e.metaKey) || 35 <= e.keyCode && 40 >= e.keyCode || (e.shiftKey || 48 > e.keyCode || 57 < e.keyCode) && (96 > e.keyCode || 105 < e.keyCode) && e.preventDefault() });
    $(document).on('keydown', '#txtShippingCharges', function (e) { -1 !== $.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) || /65|67|86|88/.test(e.keyCode) && (!0 === e.ctrlKey || !0 === e.metaKey) || 35 <= e.keyCode && 40 >= e.keyCode || (e.shiftKey || 48 > e.keyCode || 57 < e.keyCode) && (96 > e.keyCode || 105 < e.keyCode) && e.preventDefault() });
    $(document).on('keydown', '#txtAdjustedPrice', function (e) { -1 !== $.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) || /65|67|86|88/.test(e.keyCode) && (!0 === e.ctrlKey || !0 === e.metaKey) || 35 <= e.keyCode && 40 >= e.keyCode || (e.shiftKey || 48 > e.keyCode || 57 < e.keyCode) && (96 > e.keyCode || 105 < e.keyCode) && e.preventDefault() });

    $("#btnSearch").click(function () {

        $("#lblMessage").html("");
        $("#spnQuotation").html("");

        if ($.trim($("#txtQuotationNumber").val()) == "") {
            $("#spnQuotation").html("*").attr("style", "color:red");
            return;
        }
        else if (isNaN($.trim($("#txtQuotationNumber").val()))) {
            $("#spnQuotation").html("Numeric Only").attr("style", "color:red");
            return;


        }
        else {
            LoadQuotationData();
        }




    });      //End of btnSearch Click 




    function DisablePagingForNoRecord() {


        var Li_Count = $(".NewPaging li").length;
        var disabledLi_Count = $(".NewPaging li.disabled").length;

        if (Li_Count == disabledLi_Count) {
            $(".NewPaging").hide();
        }


        //alert(Li_Count + " " + disabledLi_Count);



    }
  
</script>
 <script>
 
    
                    function LoadQuotationData() 

                    {
   
                          var formData = { strQuotationNo: $("#txtQuotationNumber").val(), strSubQuotationNo: $("#txtQuotationSubNo").val() };
                                $.ajax(
                                    {
                                        cache: false,
                                        type: "POST",
                                        url: "@Url.Action("Search", "QuotationDetails", null)",
                                        data: formData,
                                        success: function (Data) 
                                        {
                                       
                                        CheckForSessionExpiry(Data);
                                        if (isRealValue(Data)) 
                                        {    
                                            if (isRealValue(Data.QuotationDetails)) 
                                            {                                           

                                            var checkStatus=Data.QuotationDetails.Status;
                                            quotationStatus=Data.QuotationDetails.Status;
                                            if (checkStatus!="In Process") 
                                            {
                                                 DisableControls();
                                            }else
                                            {
                                            EnableControls();
                                            }
                                             
                

                                              $("#txtQuotationNumber").val(Data.QuotationDetails.QuotationNo);
                                              $("#txtQuotationSubNo").val(Data.QuotationDetails.SubQuotationNo);
                                              $("#txtStatus").val(Data.QuotationDetails.Status);
                                              $("#txtCurrency").val(Data.QuotationDetails.Currency);
                                              $("#txtDistributerCode").val(Data.QuotationDetails.DistributerCode);
                                              $("#txtDistributerName").val(Data.QuotationDetails.DistributerName);
                                              $("#txtTotalPriceAmount").val(Data.QuotationDetails.TotalPriceAmount);
                                              $("#txtTotalSellingPrice").val(Data.QuotationDetails.TotalPriceAmount);
                                              $("#txtTotalPriceCost").val(Data.QuotationDetails.TotalPriceCost);
                                              $("#txtTotalWeight").val(Data.QuotationDetails.TotalWeight);
                                              $("#txtNameOfOtherCharge1").val(Data.QuotationDetails.NameOfOtherCharges1);
                                              $("#OtherCharge1").val(Data.QuotationDetails.OtherCharges1);   
                                           // $("#txtTotalDiscount").val(Data.QuotationDetails.RATA);
                                              $("#txtTotalTax").val(Data.QuotationDetails.Tariff);
                                              $("#txtNameOfOtherCharge2").val(Data.QuotationDetails.NameOfOtherCharges2);
                                              $("#OtherCharge2").val(Data.QuotationDetails.OtherCharges2);
                                              $("#txtAdjustedPrice").val(Data.QuotationDetails.TotalDiscount);
                                            //$("#txtGrossMarginRate").val(Data.QuotationDetails.GrossMarginRate);
                                              $("#txtShippingCharges").val(Data.QuotationDetails.ShippingCharges);
                                              $("#txtGrandTotal").val(Data.QuotationDetails.GrandTotal);
                                               $("#chkWareHouse").attr("disabled",true);
                                               $("#chkPrefferedOrigins").attr("disabled",true);
                                             $("#chkWareHouse").prev("label").text(Data.QuotationDetails.WareHouse);
                                              $("#chkPrefferedOrigins").prev("label").text(Data.QuotationDetails.CTO); 



                                              maxLineNo=Data.QuotationDetails.MaxLineNo;
                                              maxLineNoBackup=Data.QuotationDetails.MaxLineNo;
                                             
                                               // EnableControls();


                                         $.ajax({
                                                                                           
                                        cache: false,
                                        type: "GET",
                                        url: "@Url.Action("PartsDetails", "QuotationDetails", null)",
                                        data: formData,
                                        success: function (PartsDetails) 
                                        {
                                         CheckForSessionExpiry(PartsDetails);
                                        if (isRealValue(PartsDetails)) 
                                        {  
//                                                                       
//                                       var PartsDetails = PartsDetails.replace(' $(containerId).parent().', 'alert(containerId); $(containerId).parent().');
//                                      
//                                       
//                                         $('#divParts').undelegate("#main a[data-swhglnk='true']","click");
//                                         
                                         $("#divParts").html(PartsDetails);
                                         $(".hideonLoad").show();
                                        $('.NewPaging ul').addClass("pagination");


                                        }

                                        } 
                                        ,
                                        error: function (xhr, ajaxOptions, thrownError) {
                                             
                                        }
                                        
                                         }); // End of ajax   






//                                       $.each(data2.ModelInformation, function (index, itemData) { 
//                                            $('#LineNo').text(itemData.LineNo);
//                                            $('#ModelCode').val(itemData.ModelCode);
//                                            $('#SerialNo').val(itemData.SerialNo);
//                                            $('#EngineSrNo').val(itemData.EngineSrNo);
//                                            $('#CustomerDetails').val(itemData.CustomerDetails);                       
//                                              }); 

//                                                   if (data2.AvailableMark==true) 
//                                                    {
//                                                     $('#AvailableMark').attr("checked","checked");
//    
//                                                    }
//                                                    else
//                                                     { $('#AvailableMark').removeAttr("checked");
//  
//                                                     }







                                            }

                                            else if(isRealValue(Data.MessageToDisplay)) 
                                            {
                                                           if(Data.ErrorOccured==0)
                                                           {
                                                            $("#txtStatus").val("");
                                                            $("#txtCurrency").val("");
                                                            $("#txtDistributerCode").val("");
                                                            $("#txtDistributerName").val("");
                                                            $("#lblMessage").html("No Record Found").attr("style", "color:red");; 
                                                            $("#btnDownload").attr("disabled","disabled");
                                       
                                                           }
                                                           else 
                                                           {
                                                           alert("  Error "+Data.MessageToDisplay);
                                                           }
                                            }
                        
                         

                                        }//End of main If

                                         


                                        },
                                        error: function (xhr, ajaxOptions, thrownError) {
                                            alert('Failed to retrieve data.');
                                        }
                                    }); // End of ajax   


   
    
                    }
 
 
 
 </script>