@{
    ViewBag.Title = Resources.Resource.Home;
}
 <link rel="stylesheet" href="@Url.Content("~/content/Site/animate.css")">
  <script src="@Url.Content("~/Scripts/Site/plugins.js")" type="text/javascript"></script> 
    <script src="@Url.Content("~/Scripts/Site/jquery.lightbox.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Site/custom.js")" type="text/javascript"></script> 
 <div class="container childcontent"> 
 
 
 
<div class="panel panelLogin panel-default"  >
  <div class="panel-heading" style="background-color: #FAC902">
    <h2 class="panel-title">@Resources.Resource.Home</h2>
  </div>
     
  <div class="panel-body" style=" padding:0 !important;">

 
     <div class="flexslider"  >
        <ul class="slides">
            <li>
                <img src="@Url.Content("~/images/NR/1.jpg")" alt="">
          
            </li>
            <li>
                <img src="@Url.Content("~/images/NR/2.jpg")" alt="">
                 
            </li>
            <li>
                <img src="@Url.Content("~/images/NR/3.jpg")" alt="">
                 
            </li>

            <li>
                <img src="@Url.Content("~/images/NR/4.jpg")" alt="">
                
            </li>
        </ul>
    </div>
 
 





  </div>
</div> 
 
 
</div>